@import "tailwindcss";

@layer base {
  *{
    font-family: 'Grenze', sans-serif;
  }

  .shaded-bg::after {
    content: "";
    position: absolute;
    top: 0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: rgba(32, 32, 32, 0.527);
  }
  .scroll-hide::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: transparent;
    
  }
  .scroll-hide::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
    background: transparent;
  }
  .scroll-hide::-moz-range-thumb {
    width: 0px;
    height: 0px;
    background: transparent;
  }
  .scroll-hide::-ms-thumb {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

@theme {
  --text-color-main: #193cb8;
  --color-logo:#803216;
}